:root {
    --darkgray: #212329;
    --brightred: #f9423D;
    --white: #fff;
    --lightred: #f9433dcc;
    

}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
    

 .navbar {
    background: var(--darkgray);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    z-index: 999;    
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 999;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    font-size: 2rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: var(--white);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    height: 100%;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}
.navbutton {
    text-decoration: none;
    border: none;
    background-color: #f77062;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    height: 100%; 
    width: 100%;
    padding: 10px;
    border-radius: 4px;
}

.button:hover {
    background: transparent;
    outline: 1px solid var(--brightred);
    transition: all 0.3s ease-in-out;
}

.navbar__links:hover {
    color: var(--brightred);
    transition: all 0.3s ease-in-out
}
/* Hero's section */

.main {
    background-color: var(--darkgray);    
}
.main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 100%;
    z-index: 1;
    width: 100%;
    padding: 0 50px;
    max-width: 1300px;
}

.main-content h1{
    font-size: 4rem;
    background-color: #ff8177;
    background-size: 100%;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main-content h2 {
    margin-top: 0;
    font-size: 4rem;
    background-color: #ff8177;
    background-size: 100%;
    background-image: linear-gradient(to top, #1537cc 0%, #d43e10 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content p {
    font-size: 2rem;
    font-weight: 900;
    color: #fff;
}

.pop-btn{
    background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
    position: relative;
    z-index: 1;
    color: var(--white);
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 1rem;
    transition: all 0.3s ease-in-out;
}

.pop-up {
    width: 400px;
    height: 250px;
    background: #000;
    border-radius: 6px;
    position:absolute;
    top: 0%;
    left: 50%; 
    transform: translate(-50%, -50%)scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #fff; 
    visibility: none;
    transition: transform 0.4s, top 0.4s;
} 

.open-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%)scale(1);
}

.pop-up img {
    width: 100px;
    margin-top: -100%;
    border-radius: 50%;
    font-size: 100%;
    box-shadow: 0 2px 5px rgba(172, 130, 130, 0.2);
}

.popout-btn {
    font-weight: bold;
    width: 100%;
    margin: 20px 10px;
    padding: 20px 0 ;
    border-radius: 4px;
    background: #6fd649;
    border: 0;
    outline: none;
    font-size: 1.5rem;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(172, 130, 130, 0.2);
}

